* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram__phone img {
    height: 50rem;
}

.instagram__acesso {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-direction: column;
    width: 35%;
    min-height: 34rem;
}


.instagram__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.instagram__wrapper:nth-child(1) {
    min-height: 19rem;
}

.instagram__logo {
    height: 3rem;
}

.user__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.user__avatar img {
    height: 6rem;
}

.button__login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.button__logout {
    color: #0095f6;
    margin-top: 1rem;
}

.button__other_account {
    color: rgb(160, 160, 160);
}

.other_links {
    color: #0095f6;
}

.mobile__app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.mobile__download {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.mobile__download__button{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.mobile__download__button:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.mobile__download__button:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}




/* media queries */
@media (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
    .instagram__acesso {
        width: 50%;
        margin-right:10px;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .wrapper {
        width: 90%;
    }

    .instagram__phone {
        display: none;
    }

    .instagram__acesso {
        width: 100%;
    }
    
    .instagram__wrapper {
        border: 1px solid transparent;
    }
}